<!-- Begin CalendarWiz Signup Plugin Code -->
<script type="text/javascript" src="//www.calendarwiz.com/cwsubscribe/cwsubscribe.js?crd=cpmm"></script>
<a style="text-decoration:none;"href="#" id="subscribe_btn_anchor" onclick="open_cwsubscribe();">
<table id="preview_table_id"><tr><td style="text-decoration:none;vertical-align:middle;font:bold 14px Lucida Sans Unicode,Lucida Grande,sans-serif;font-style:normal;color:#FFFFFF;background-color:#3d85c6;border:0px solid #fff;-moz-box-shadow:2px 2px 5px #000;border-radius:4px;padding:12px 15px;cursor:pointer;margin:0 auto;">
Get notified when new events are listed on the calendar
</td></tr></table>
</a>
<!-- End CalendarWiz Signup Plugin Code -->