// Menu bottom

.menu-button {
  font-size: 1.2rem !important;
  padding: 0 0rem !important;
}

.button:hover {
  transform: none;
  transition: none;
}

.button--secondary {
  // box-shadow: 2px 2px 0 0 white, 4px 4px 0 0 $darkBlue;
  box-shadow: 2.5px 2.5px 0 0 white, 5px 5px 0 #6D9FC5;
  transition: 200ms;

  &:hover {
    box-shadow: 3px 3px 0 0 white, 6px 6px 0 0 #6D9FC5;
    transform: translate(-2px, -2px);
  }
}
// .shopify-challenge__button:after, .customer button:after, .shopify-payment-button__button--unbranded:after,
//    .button:before, .shopify-challenge__button:before, .customer button:before, .shopify-payment-button__button--unbranded:before, .shopify-payment-button [role=button]:before, .cart__dynamic-checkout-buttons [role=button]:before{
//    display: none !important;
// }

.button--primary {
    // box-shadow: 2px 2px 0 0 white, 4px 4px 0 0 $darkBlue;
    box-shadow: 2px 2px 0 0 white, 4px 4px 0 $darkBlue;
    transition: 200ms;
    color: white !important;
  
    &:hover {
      // box-shadow: 3px 3px 0 0 white, 6px 6px 0 0 $darkBlue;
      box-shadow: 3px 3px 0 0 white, 6px 6px 0 $darkBlue;
      transform: translate(-2px, -2px);
    }
}

@media screen and (min-width: 990px) {
  .grid--3-col-desktop .grid__item {
    width: 30%;
    max-width: 31.5%;
  }
}

// hero

.banner__text {
  text-shadow: $darkBlue -9px 0 35px;
}

// Multirow - section

.image-with-text__media {
  opacity: 0.4;
}

.donation-icon {
  fill: $darkBlue;
  width: 35px;
  margin: -12px -28px 0 0;
}

// Custom blog cards - section

#custom-blog-cards {
  .card__content {
    color: $darkBlue;
    background: white;
    border-radius: 50px;
  }

  .card--standard .card__inner {
    color: $darkBlue;
    border: 1px solid $darkBlue;
    border-radius: 50px;
  }

  .article-card__excerpt {
    color: $darkBlue;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    min-height: 87px;
  }

  .card__heading {
    color: $darkBlue;
    font-family: $baskerville !important;
    margin-bottom: 0.6rem;
    min-height: 95px;
  }

  .grid {
    display: flex;
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    row-gap: 35px;
    padding: 15px;
  }
}

// featured blog

#custom-featured-blog {

  margin-bottom: 70px;

  .card__content {
    z-index: 10;
    padding: 0px 30px 0 15px;
  }

  .card__inner, .card__media {
    border: 1px solid #B8DCCC;
    border-radius: 50px;
    color: $accent;
  }

  .card__heading a {
    color: #B8DCCC;
  }

  .card__inner {
    background: #013b5cbd;
    position: relative;
    text-shadow: #B8DCCC 0px 0px 130px;
  }
  
  .card__media {
    border-radius: 50px;
  }

  .article-card__excerpt {
    color: $accent;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    min-height: 85px;
    font-size: 110%;
  }
}

// accordian 

.accordion:first-child {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.28) !important;
}

.accordion {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.28) !important;
}

summary .icon-caret {
  height: 0.8rem;
}

// video with text

#home-page-video {
  .image-with-text__media {
    opacity: 0.9;
  }
}

.image-with-text__video {
  display: flex;
  align-items: center;
}

.image-with-text__video video {
  width: 100%;
}

.image-with-text__youtube-container {
  display: flex;
  align-items: center;
}

.image-with-text__youtube-inner-container {
  min-height: unset;
  padding-bottom: 56.25%;
  position: relative;
}

.image-with-text__youtube-inner-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border: 0;
}

// footer

.footer {
  background-image: url('https://central-philadelphia-quaker-meeting.myshopify.com/cdn/shop/files/clouds-banner-1_0e056f3a-3112-4702-8cd4-c9b9095b7b74.png?v=1699542530&width=3600'), rgba(255, 0, 150, 0.3);
  background-size: cover;
  background-blend-mode: multiply;
}

.footer-links {
  font-family: $alrightSans !important;
  font-size: 15px !important;
  letter-spacing: 1.2px;
  font-weight: 400;
}

.footer-logo {
  width: 300px;
  margin: 9px 0 18px -8px;
}

// caption text

.image-with-text__content > :first-child:is(.image-with-text__heading), .image-with-text__text--caption + .image-with-text__heading, .image-with-text__text--caption:first-child {
  margin-bottom: 8px ;
}

// buy now button text

.shopify-payment-button .shopify-payment-button__button--unbranded {
  position: relative;
}

.shopify-payment-button .shopify-payment-button__button--unbranded:after {
  content: "Support Now";
  background: inherit;
  font-size: inherit;
  color: inherit;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}