// Custom blog cards - section

.card__content {
  background: white;
  color: #013b5c !important;
  border-radius: 50px;
}

.card--standard .card__inner {
    border: 1px solid #013b5c !important;
    border-radius: 50px;
}

.article-card__excerpt {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  min-height: 87px;
}

.card__heading {
  margin-bottom: 0.6rem;
  min-height: 95px;
}

.blog-section-width {

}

// Multirow - section

.image-with-text__media {
  opacity: 0.4;
}

