@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

// fonts
$baskerville: 'Libre Baskerville', serif;

// brand colors
$tan: #f7d5a4;
$teal: #63bcbf;
$paleGreen: #ace6d0;
$orange: #c73e2d;
$darkBlue: #013b5c;
